<form [formGroup]="form">
  <div><label>model: <input type="text" formControlName="model"></label></div>
  <div><label>price: <input type="text" formControlName="price"></label></div>
  <div><label>year :<input type="text" formControlName="year"></label></div>
  <button (click)="create()">{{!carForUpdate ? 'create':'update'}}</button>
</form>
<hr>
<div *ngFor="let car of cars">
  {{car.model}} -- {{car.year}} -- {{car.price}} <button (click)="delete(car.id)">delete</button> <button (click)="update(car)">update</button>
</div>

